.content.constrain-width
	a.logo(href="https://liberal.ca/" target="_blank")
		svg(width="375.84" height="151.107" viewBox="0 0 375.84 151.107" fill="currentColor")
			title Liberal Party of Canada
			desc The Liberal Party logo: the word Liberal topped with a maple leaf
			use(xlink:href="/logo-text.svg#logotext" height="100%" width="100%")

	section#contact
		.prose
			h2 Contact
			address.unstyled
				dl.unstyled.grid
					dt Phone
					dd
						a(href="tel:+16049772688") 604-977-2688
					dt Email
					dd
						a(href="mailto:hello@votemarkwiens.ca") hello@votemarkwiens.ca

	p#fineprint
		| Authorized by the official agent of Mark Wiens
		br
		| © 2025
