.content.constrain-width
	section#contact
		.prose
			h2 Contact
			address.unstyled
				dl.unstyled.grid
					dt Phone
					dd
						a(href="tel:+16049772688") 604-977-2688
					dt Email
					dd
						a(href="mailto:hello@votemarkwiens.ca") hello@votemarkwiens.ca
				nav(aria-label="Social network links")
					include socials.pug

	p#fineprint
		| Authorized by the official agent of Mark Wiens
		br
		| © 2025
