.content.constrain-width
	section#contact
		.prose
			h2 Contact
			address.unstyled
				dl.unstyled.grid
					dt Phone
					dd
						a(href="tel:+17788407653") 778-840-7653
					dt Email
					dd
						a(href="mailto:hello@votemarkwiens.ca") hello@votemarkwiens.ca
				nav(aria-label="Social network links")
					include socials.pug

	p#fineprint
		| Authorized by Mark Wiens – #[a(href="mailto:mark@votemarkwiens.ca") mark@votemarkwiens.ca]
		br
		| © 2025
