.content
	.constrain-width
		.flex
			#title-lockup
				a(href="#")
					h1 #[strong Mark Wiens]#[span.visually-hidden ,] #[small For Richmond City Council]
			#desktop-nav
				include nav.pug
			button#nav-toggle.unstyled(aria-label="Toggle navigation" title="Toggle navigation" aria-controls="main-nav")
				svg.line-icon(width="32" height="32" viewBox="0 0 32 32")
					line(x1="2" y1="6" x2="28" y2="6")
					line(x1="2" y1="16" x2="28" y2="16")
					line(x1="2" y1="26" x2="28" y2="26")
#main-nav(inert)
	#main-nav-container.constrain-width
		nav(aria-label="Main navigation")
			include nav.pug
		nav(aria-label="Social network links")
			include socials.pug
