ul.unstyled.site-navigation
	li
		a(href="#meet-mark") Meet Mark
	li
		a(href="#why-mark") Why Mark?
	li.is-current
		a(href="#get-involved") Get involved
	li
		a(href="#request-a-sign") Request a sign
	li
		a(href="#donate") Donate
	li
		a(href="#contact") Contact
