
/** blog-css **/

.sidebar-page-container{
	position: relative;
	padding: 120px 0px;
}

.sidebar-page-container .news-block-one .inner-box .lower-content{
	padding: 0px;
	padding-top: 20px;
}

.news-block-one .inner-box h2{
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 20px;
}

.sidebar-page-container .news-block-one .inner-box{
	box-shadow: none !important;
	margin-bottom: 30px;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .post-info{
	opacity: 1;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .link a{
	transform: scale(1);
	opacity: 1;
	color: #1b182f;
}

.sidebar-page-container .news-block-one .inner-box .lower-content .link a:hover{

}

.news-block-one .inner-box p{
	margin-bottom: 6px;
}

.sidebar-page-container .news-block-one .inner-box .image-box{
	border-radius: 10px;
}

.sidebar-page-container .news-block-one .inner-box .image-box img{
	border-radius: 10px;
}

.sidebar-page-container .btn-box .theme-btn{
	padding: 23px 70px;
}

.blog-sidebar{
	position: relative;
	display: block;
}

.blog-sidebar .search-widget{
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.blog-sidebar .search-widget .search-form .form-group{
	position: relative;
	margin: 0px;
	padding: 10px 20px;
	border-radius: 10px;
}

.blog-sidebar .search-widget .search-form .form-group input[type='search']{
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	padding: 0px 70px 0px 30px;
	border: 1px solid transparent;
	transition: all 500ms ease;
}

.blog-sidebar .search-widget .search-form .form-group input:focus{
	border-color: #fff;
}

.blog-sidebar .search-widget .search-form .form-group button{
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transform: all 500ms ease;
}

.blog-sidebar .sidebar-widget{
	position: relative;
	display: block;
	background: #f1f0f7;
	padding: 42px 40px 45px 50px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.blog-sidebar .sidebar-widget:last-child{
	margin-bottom: 0px;
}

.blog-sidebar .widget-title{
	position: relative;
	display: block;
	margin-bottom: 16px;
}

.blog-sidebar .widget-title h4{
	font-size: 20px;
	line-height: 30px;
}

.blog-sidebar .post-widget .post{
	position: relative;
	display: block;
	padding-left: 90px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #fff;
	min-height: 112px;
}

.blog-sidebar .post-widget .post:last-child{
	margin-bottom: 0px;
	border-bottom: none;
}

.blog-sidebar .post-widget .post .post-thumb{
	position: absolute;
	left: 0px;
	top: 6px;
	width: 70px;
	height: 72px;
	border-radius: 10px;
}

.blog-sidebar .post-widget .post .post-thumb img{
	width: 100%;
	border-radius: 10px;
}

.blog-sidebar .post-widget .post .post-date{
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 3px;
}

.blog-sidebar .post-widget .post h6{
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
}

.blog-sidebar .post-widget .post h6 a{
	display: inline-block;
	color: #1b182f;
}

.blog-sidebar .post-widget .post h6 a:hover{

}

.blog-sidebar .post-widget{
	padding-bottom: 20px;
}

.blog-sidebar .category-list li{
	position: relative;
	display: block;
	margin-bottom: 18px;
}

.blog-sidebar .category-list li:last-child{
	margin-bottom: 0px;
}

.blog-sidebar .category-list li a{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.blog-sidebar .category-list li a:hover{

}

.blog-sidebar .tags-widget .tags-list li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.blog-sidebar .tags-widget .tags-list li a{
	position: relative;
	display: inline-block;
	font-size: 11px;
	line-height: 20px;
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	background: #fff;
	text-align: center;
	background: #fff;
	padding: 10px 24px;
	border-radius: 8px;
}

.blog-sidebar .tags-widget .tags-list li a:hover{
	color: #fff;
}

.blog-sidebar .tags-widget .widget-title{
	margin-bottom: 22px;
}

.blog-sidebar .tags-widget{
	padding-bottom: 35px;
}

.blog-details-content{
	position: relative;
	display: block;
}

.blog-details-content .news-block-one .inner-box p{
	margin-bottom: 34px;
}

.blog-details-content .news-block-one .inner-box p:last-child{
	margin-bottom: 0px;
}

.blog-details-content .news-block-one .inner-box .image-box img{
	transform: scale(1) !important;
}

.blog-details-content .news-block-one .inner-box .image-box:before{
	display: none;
}

.blog-details-content .post-share-option{
	position: relative;
	display: block;
	padding: 35px 0px;
	border-top: 1px solid #d8d8df;
}

.blog-details-content .post-share-option .tags-list li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.blog-details-content .post-share-option .tags-list li:last-child{
	margin: 0px !important;
}

.blog-details-content .post-share-option .tags-list li h5{
	font-size: 18px;
	line-height: 38px;
	font-weight: 700;
}

.blog-details-content .post-share-option .tags-list li a{
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding: 7px 20px;
	border-radius: 8px;
}

.blog-details-content .post-share-option .tags-list li a:hover{
	background: #1b182f;
}

.blog-details-content .post-share-option .social-links li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.blog-details-content .post-share-option .social-links li:last-child{
	margin: 0px !important;
}

.blog-details-content .post-share-option .social-links li a{
	position: relative;
	display: inline-block;
	width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	background: #f1f0f7;
	color: black;
}

.blog-details-content .post-share-option .social-links li a:hover{
	color: #fff;
}

.blog-details-content .news-block-one .inner-box{
	margin-bottom: 53px;
}

.blog-details-content .author-box{
	position: relative;
	display: block;
	background: #f1f0f7;
	padding: 55px 40px 56px 270px;
	margin-bottom: 51px;
	border-radius: 10px;
}

.blog-details-content .author-box .image-box{
	position: absolute;
	left: 60px;
	top: 60px;
	width: 160px;
	height: 160px;
	border-radius: 8px;
}

.blog-details-content .author-box .image-box img{
	width: 100%;
	border-radius: 8px;
}

.blog-details-content .author-box h3{
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 37px;
}

.blog-details-content .author-box p{
	font-weight: 500;
}

.blog-details-content .group-title{
	position: relative;
	display: block;
	margin-bottom: 42px;
}

.blog-details-content .group-title h3{
	display: block;
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;
}

.blog-details-content .comment-box .comment{
	position: relative;
	display: block;
	padding-left: 180px;
	padding-bottom: 52px;
	margin-bottom: 52px;
	border-bottom: 1px solid #d8d8df;
}

.blog-details-content .comment-box .comment:last-child{
	margin-bottom: 0px;
}

.blog-details-content .comment-box .comment .thumb-box{
	position: absolute;
	left: 0px;
	top: 8px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

.blog-details-content .comment-box .comment .thumb-box img{
	width: 100%;
	border-radius: 50%;
}

.blog-details-content .comment-box .comment h4{
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 21px;
}

.blog-details-content .comment-box .comment h4 span{
	font-size: 14px;
}

.blog-details-content .comment-box .comment p{
	font-weight: 400;
}

.blog-details-content .comment-box .comment .reply-btn{
	position: absolute;
	display: inline-block;
	top: 8px;
	right: 0px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	padding: 2.5px 31px;
	z-index: 1;
	text-transform: uppercase;
	border-radius: 8px;
}

.blog-details-content .comment-box .comment .reply-btn:hover{
	background: #1b182f;
}

.blog-details-content .comment-box{
	position: relative;
	display: block;
	margin-bottom: 50px;
}

.blog-details-content .comments-form-area .form-group{
	padding: 0px 10px;
}

.blog-details-content .comments-form-area .form-inner{
	margin: 0px 5px;
}

.blog-details-content .comments-form-area .form-group input,
.blog-details-content .comments-form-area .form-group textarea{
	background: #f1f0f7 !important;
	border-radius: 10px;
	border-color: #f1f0f7 !important;
}

.blog-details-content .comments-form-area .theme-btn{
	padding: 23.5px 68px;
}
