.elementor-element .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated,
.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding:0px !important;
}
.main-menu .navigation > li.dropdown > a::before {
	font-family:'fontawesome';
}
.admin-bar .sticky-header{
    top:32px !important;
}

.sidebar-page-container .comments-area .comment-box-list > .vezaconslt-comment-item:last-child > .comment-box{
    margin-bottom:0px;
}
.comment-box > .comment-box{
	border-bottom: 1px solid #e1e8e4;
	padding-bottom: 40px;
}
.blog-details-content .comment-box .comment {
	margin-bottom:52px;
}
.blog-details-content .comment-box {
	margin-top: 70px;
}
.vezaconslt-comment-item > .vezaconslt-comment-item {
    margin-left:50px;
}
.comment-form{
    margin-top:70px;
}
.vezaconslt-comment-item .comment-form{
    margin:52px 0;
}
#cancel-comment-reply-link{
    color:inherit;
    display:block;
    font-size:18px;
    margin-top:8px;
}

.about-section .pattern-layer {
    z-index: -1;
}

.page-title .bread-crumb li:last-child {
	padding-right:0;
	margin-right:0;
}

.list-style-one li:last-child {
    margin-bottom: 0px
}

.team-details .text p {
	margin-bottom:25px;
	font-size: 15px;
	line-height: 26px;
}

/*Coaching Menu*/
.coaching-sidebar ul.menu {
	margin-bottom:30px;
}
.coaching-sidebar ul.menu li {
    margin-bottom: 10px;
	position: relative;
	display: block;
}
.coaching-sidebar ul.menu li a {
	font-size: 16px;
	font-weight: 500;
	color: #1b182f;
	display: block;
	position: relative;
	z-index: 1;
	background: #f1f0f7;
	border-radius: 10px;
	padding:15px 30px;
}
.coaching-sidebar ul.menu li.current-menu-item a,
.coaching-sidebar ul.menu li a:hover {
	color: #fff;
}
.coaching-sidebar ul.menu li.current-menu-item a:before,
.coaching-sidebar ul.menu li a:hover:before {
	width: 100%;
}
.coaching-sidebar ul.menu li a:before {
    position: absolute;
    content: '';
    background: #1b182f;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    z-index: -1;
    transition: all 500ms ease;
}
.coaching-sidebar ul.menu li a::after {
    position: absolute;
    content: "\f105";
    font-family: 'Font Awesome 5 Pro';
    top: 17px;
    right: 30px;
    transition: all 500ms ease;
}
.coaching-sidebar ul.menu li.current-menu-item a:after,
.coaching-sidebar ul.menu li a:hover:after {
    color: #ff5857;
}

.coaching-details figure.featured-image {
    margin-bottom: 30px !important;
}
.coaching-details .text .text p {
	margin-bottom: 35px;
	font-size: 18px;
	line-height: 36px;
}

.service-details figure.featured-image,
.country-details figure.featured-image {
	margin-bottom: 52px !important;
}

/*Services Menu*/
.service-details .service-sidebar .single-service-sidebar {
	margin-bottom: 45px;
}
.service-details .service-sidebar ul.menu li{
  position: relative;
  display: block;
}

.service-details .service-sidebar ul.menu li a{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #222;
  padding: 21px 40px;
  background: #e7ecf2;
  z-index: 1;
}
.service-details .service-sidebar ul.menu li a:after {
	color:#c8d1db;
    position: absolute;
    content: "\f102";
    font-family: flaticon !important;
    top: 17px;
    right: 30px;
    transition: all 500ms ease;
}
.service-details .service-sidebar ul.menu li.current-menu-item a:after,
.service-details .service-sidebar ul.menu li a:hover:after{
  color:#fff;
}

.service-details .service-sidebar ul.menu li.current-menu-item a,
.service-details .service-sidebar ul.menu li a:hover{
  color: #fff;
}

.service-details .service-sidebar ul.menu li a:before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
  transition: all 500ms ease;
}

.service-details .service-sidebar ul.menu li.current-menu-item a:before,
.service-details .service-sidebar ul.menu li a:hover:before{
  width: 100%;
  left: 0px;
}

.service-details .service-sidebar ul.menu li:nth-child(2n+1) a{
  background: #eff2f5;
}

.service-details .service-sidebar ul.menu li a i{
  position: relative;
  font-size: 20px;
  font-weight: 700;
  float: right;
  color: #c8d1db;
  top: 2px;
  transition: all 500ms ease;
}

.service-details .service-sidebar ul.menu li.current-menu-item a i,
.service-details .service-sidebar ul.menu li a:hover i{
  color: #fff;
}
.service-details .service-sidebar ul.menu li a:before {
    background: #ff5857;
}

.service-details .service-sidebar #nav_menu-6 {
	padding: 33px 35px 39px 35px;
	background: #eff2f5;
}
.service-details .service-sidebar .widget-title h4 {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
}
.service-sidebar #nav_menu-6 ul.menu li {
	position: relative;
	display: block;
	margin-bottom: 8px;
}
.service-sidebar #nav_menu-6 ul.menu li a {
	position: relative;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #222;
	padding: 2px 0px;
	padding-left: 52px;
	background: none;
}
.service-sidebar #nav_menu-6 ul.menu li a::before {
    position: absolute;
    content: '';
    background: #d2dbe4;
    width: 1px;
    height: 100%;
    left: 28px;
    top: 0px;
}
.service-sidebar #nav_menu-6 ul.menu li a::after {
    position: absolute;
    content: "\f102";
    font-family: 'Flaticon', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #c8d1db;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}
.service-sidebar #nav_menu-6 ul.menu li a:hover,
.service-sidebar #nav_menu-6 ul.menu li a:hover::after {
    color: #ff5857;
}

#contact-form input[type=submit] {
	background: #ff5857;
}
#contact-form input[type=submit]:hover {
	background: #1b182f;
}

.blog-sidebar .widget_search {
	background: none;
	padding: 0px;
}

/*Blog Sidebar Category*/
.single-sidebar.sidebar-widget ul li{
	position: relative;
	display: block;
	margin-bottom: 18px;
}

.single-sidebar.sidebar-widget ul li:last-child{
	margin-bottom: 0px;
}

.single-sidebar.sidebar-widget ul li a{
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: black;
	width: 100%;
}

.single-sidebar.sidebar-widget ul li a:hover{
	color: #ff5857;
}

.single-sidebar.sidebar-widget ul li a span {
    float: right;
}

/*Tags*/
.blog-sidebar .tagcloud a{
	background: #fff;
	border-radius: 8px;
	color: black;
	display: inline-block;
	font-size: 11px !important;
	font-weight: 700;
	line-height: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 24px;
	position: relative;
	text-transform: uppercase;
	text-align: center;
}

.blog-sidebar .tagcloud a:hover{
	color: #fff;
	background: #ff5857;
}

/*Pagination*/
.pagination{
  position: relative;
  display: block;
  margin-top: 30px;
}

.pagination li{
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom:10px;
  margin-right: 10px;
}

.pagination li:last-child{
  margin: 0px !important;
}

.pagination li a{
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	height: 56px;
	width: 56px;
	line-height: 56px;
	text-align: center;
	color: #1e2434;
	z-index: 1;
	background-color: #f4f5f4;
	transition: all 500ms ease;
	border-radius:0;
}
.pagination li span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
    color: #1e2434;
    z-index: 1;
    background-color: #f4f5f4;
    transition: all 500ms ease;
}
.pagination li a:hover,
.pagination li span.current{
	color: #fff;
	border-color: #ff5857;
	background-color: #ff5857;
}


.blog-sidebar .widget_vezaconslt_recent_posts {
	padding-bottom: 20px;
}
.blog-sidebar .widget_vezaconslt_recent_posts .post-widget {
    padding-bottom: 0px;
}
