mixin img(src, dimensions, widths, options)
	img(
		src=imgixSrc(src, widths[0], options)
		srcset=imgixSrcset(src, widths, options)
	)&attributes({ ...nominalDimensions(dimensions, widths, options), ...attributes })

mixin source(src, dimensions, widths, options)
	source(
		srcset=imgixSrcset(src, widths, options)
	)&attributes({ ...nominalDimensions(dimensions, widths, options), ...attributes })

doctype html
html(lang="en-CA")
	head
		include partial/head.pug
	body
		main#main
			p This site is temporarily offline.
