@font-face {
	font-family: lato-fallback;
	font-weight: normal;
	src: local(Arial),
		local(Arial MT),
		local(ArialMT),
		local(Arial-MT),
		local(Liberation Sans);
}
@font-face {
	font-family: lato-fallback;
	font-weight: 700;
	src: local(Arial Bold),
		local(Arial MT Bold),
		local(ArialMT-Bold),
		local(Arial-MT-Bold),
		local(Liberation Sans Bold);
}

:root {
	--main-red: #d9320d;
	--darker-red: #600000;
	--main-red-shade-1: color-mix(in oklab, var(--main-red), var(--darker-red) 20%);
	--main-red-shade-2: color-mix(in oklab, var(--main-red), var(--darker-red) 40%);
	--main-red-shade-3: color-mix(in oklab, var(--main-red), var(--darker-red) 60%);
	--main-grey: #414042;
	--main-grey-tint-1: #6d6e70;
	--main-grey-tint-2: #dbdcde;
	--main-grey-tint-3: #f1f1f2;
	--accent-steel: #3d4f5d;
	--accent-blue: #0babe3;
	--accent-green: #6ebf52;
	--accent-yellow: #f9b717;

	/* Fonts */
	--font-base: Lato, lato-fallback, sans-serif;
	--font-calligraphy: "Zhi Mang Xing", sans-serif;

	/* Constants */
	--padding-std: 16px;
	--header-logo-size: clamp(2.75rem, 12vw, 3.5rem);
	--base-font-size: 18px;
	--float-image-margin-y: 0.5em;
	--float-image-margin-x: 0.75em;
	--input-radius: 3px;
	--media-radius: 10px;
	--constrained-width: 60rem;

	/* Calculated */
	--header-height: calc(var(--header-logo-size) + var(--padding-std) * 2);
	--padding-section: calc(var(--padding-std) * 4);
	--accent-color-light: var(--main-red);
	--accent-color-dark: white;
	--accent-color: var(--main-red); /* Changes based on context; see .light and .dark */
}

html {
	background: white;
	color: black;
	font-size: var(--base-font-size);
	line-height: 1.4;
	font-family: var(--font-base);
	scroll-padding-top: var(--header-height);
	scroll-behavior: smooth;
	accent-color: var(--accent-color);

	@media (prefers-reduced-motion) {
		scroll-behavior: initial;
	}
}

html, body {
	margin: 0;
}

::-moz-selection {
	background: var(--accent-steel);
	text-shadow: none;
	color: white;
}

::selection {
	background: var(--accent-steel);
	text-shadow: none;
	color: white;
}

p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd {
	margin: 0;
}

.prose :is(p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd) {
	margin: revert;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid currentcolor;
	margin: var(--padding-std) 0;
	padding: 0;
}

a {
	color: inherit;

	&:focus-visible {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}

audio,
canvas,
iframe,
img,
svg {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;

	.is-safari & {
		width: max-content; /* IOS splits the line. height: 100% doesn't solve it. */
	}
}

textarea {
	resize: vertical;
}

.hidden,
[hidden] {
	display: none !important;
}

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.constrain-width {
	box-sizing: content-box;
	max-width: var(--constrained-width);
	margin-inline: auto;
}

.padded-x {
	padding-left: var(--padding-std);
	padding-right: var(--padding-std);
}

.line-icon {
	stroke: currentColor;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.dark {
	--accent-color: var(--accent-color-dark);
	.light {
		--accent-color: var(--accent-color-light);
		.dark {
			--accent-color: var(--accent-color-dark);
			.light {
				--accent-color: var(--accent-color-light);
				.dark {
					--accent-color: var(--accent-color-dark);
				}
			}
		}
	}
}

form.styled button, button.styled, .button {
	text-decoration: none;
	display: inline-block;
	padding: calc(var(--padding-std) / 2) var(--padding-std);
	cursor: pointer;
	background: var(--main-red);
	color: white;
	border-style: none;
	border-radius: 6px;
	font-family: inherit;
	font-size: inherit;
	font-weight: bolder;
	transition: background 0.2s;
	text-shadow: 0 1px 0 rgb(0 0 0 / 25%);

	&:hover {
		background: var(--main-red-shade-1);
	}
	&:active {
		background: var(--main-red-shade-2);
		transition-duration: 0s;
	}
}

form.styled {
	display: grid;
	gap: var(--padding-std);

	fieldset {
		display: grid;
		row-gap: calc(var(--padding-std) / 4);
	}

	:is(
		fieldset:has([required]) legend,
		fieldset:has([required]:not(.option-grid *)) label
	)::after {
		content: "\2009*";
		content: "\2009*" / ""; /* Screen readers should already announce that it's required */
		color: var(--accent-color);
		font-weight: 700;
	}

	input:is([type="text"], [type="email"], [type="tel"]), textarea, select {
		font-family: inherit;
		font-size: inherit;
		border-radius: var(--input-radius);
		border: 1px solid color-mix(in lch, var(--main-grey), white 50%);
		padding: calc(var(--padding-std) / 2);
		background: white;
		color: black;
	}

	.is-safari & select {
		height: 2.22em; /* IOS and desktop won't take padding into account */
		accent-color: auto; /* IOS sets the text colour to accent colour */
	}

	input:is([type="radio"], [type="checkbox"]) {
		width: 1.2rem;
		height: 1.2rem;
	}

	input:is([type="text"], [type="email"], [type="tel"], [type="radio"], [type="checkbox"]), textarea, select, button {
		&:focus-visible {
			outline: 2px solid var(--accent-color);
			outline-offset: 2px;
		}
	}

	.option-grid {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: calc(var(--padding-std) / 4) calc(var(--padding-std) / 2);
		align-items: center;
	}
}

.unstyled {
	all: unset;
}
button.unstyled {
	cursor: pointer;
	outline: revert;
}
:where(ul, ol, dl, address).unstyled {
	display: block;
}
:where(ul, ol, dl).unstyled > :is(li, dt, dd) {
	all: unset;
	display: block;
}

button:focus-visible {
	outline: 2px solid var(--accent-color);
	outline-offset: 2px;
}

dl.grid {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 1rem;

	& > dt {
		justify-self: end;
	}
	& > dd {
		justify-self: start;
	}
}

#skip-link {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--accent-steel);
	padding: var(--padding-std);
	color: white;
	z-index: 10; /* Must be above header */
}

#header {
	position: sticky;
	z-index: 5; /* Must be above Youtube embed */
	top: 0;
	left: 0;

	.content {
		background: var(--main-red);
		color: white;
		padding: var(--padding-std);
	}

	.flex {
		display: flex;
		gap: calc(var(--padding-std) * 2);
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: var(--header-logo-size);
		height: var(--header-logo-size);
	}

	#title-lockup {
		display: flex;
		gap: var(--padding-std);
		flex-shrink: 0;

		a {
			text-decoration: none;
		}

		h1 {
			font-size: clamp(2rem, 9.6vw, 2.5rem);
			line-height: 1;

			display: flex;
			flex-direction: column;
			align-items: center;

			strong {
				font-style: normal;
				font-weight: 700;
				font-family: var(--font-base);
			}
			small {
				font-size: 0.462em;
				font-weight: normal;
			}
		}
	}

	#nav-toggle {
		@media only screen and (min-width: 46em) {
			display: none;
		}
	}

	#desktop-nav {
		display: none;

		@media only screen and (min-width: 46em) {
			display: block;
			font-size: 1.2rem;

			a {
				text-decoration: none;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 0 var(--padding-std);
				justify-content: center;

				li {
					position: relative;

					&::after {
						content: "";
						display: block;
						position: absolute;
						top: 100%;
						left: 0;
						width: 100%;
						height: 0;
						border-bottom: 2px solid white;
						transform: scaleX(0);
						opacity: 0;
						transition-property: transform, opacity;
						transition-duration: 100ms;
					}

					&.is-current::after {
						opacity: 1;
						transform: scaleX(1);
					}
				}
			}
		}
	}
}

#main-nav {
	display: grid;
	background: var(--main-red-shade-1);
	color: white;
	height: calc(100vh - var(--header-height));
	width: 100%;
	border-style: none;
	padding: var(--padding-std);
	box-sizing: border-box;
	max-width: none;
	max-height: none;
	overflow: auto;
	overscroll-behavior: contain;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: -1;
	transform: translateY(-100%);
	transition: transform 200ms;
	place-items: center;

	@media (prefers-reduced-motion) {
		transition-property: none;
	}

	&.is-open {
		transform: translateY(0);
	}

	&:focus-visible {
		outline: none;
	}

	ul.site-navigation {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: 1.4rem;

		a {
			text-decoration: none;
		}
	}

	#main-nav-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--padding-section);
	}
}

#hero {
	position: relative;
	overflow: hidden;
	display: grid;

	& > * {
		grid-column: 1;
		grid-row: 1;
	}

	& > * {
		position: relative;
	}

	.hero-image {
		width: 100%;
		height: auto;
	}

	.herotext-container {
		width: 100%;
		display: grid;
		grid-template-columns: 52% 1fr auto;
		grid-template-areas: "english spacer chinese";

		@media only screen and (min-width: 64em) {
			grid-template-columns: 45% 1fr auto;
		}
	}

	.herotext {
		grid-area: english;
		padding: var(--padding-std);
		padding-right: 0;
		align-self: center;
		text-align: center;
		display: block;
		line-height: 1;
		font-size: 1.5rem;
		font-size: clamp(1.2rem, 4vw, 2rem);
		text-shadow: 0 1px 0 rgb(255 255 255 / 45%),
			0 0 8px rgb(255 255 255 / 65%),
			0 0 16px rgb(255 255 255 / 45%);

		big {
			font-family: var(--font-base);
			font-weight: 700;
			font-size: 2em;
			display: block;
		}

		hr {
			width: 50%;
			border-top: 0.12em solid black;
			margin-inline: auto;
			margin-block: 0.5em;
			box-shadow: 0 1px 0 rgb(255 255 255 / 45%),
				0 0 8px rgb(255 255 255 / 65%),
				0 0 16px rgb(255 255 255 / 45%);
		}

		small {
			font-size: 0.725em;
			text-transform: uppercase;
		}
	}

	.chinese {
		font-size: 2rem;
		font-size: clamp(1.6rem, 5.333vw, 3rem);
		background-color: rgb(255 255 255 / 30%);
		backdrop-filter: blur(5px);
		border-radius: var(--media-radius);
		padding: 0.25em 0;
		grid-area: chinese;
		align-self: center;
		margin: var(--padding-std);
		margin-left: 0;
		writing-mode: vertical-rl;
		font-family: var(--font-calligraphy);
		text-shadow: 0 1px 0 rgb(255 255 255 / 45%),
			0 0 8px rgb(255 255 255 / 65%),
			0 0 16px rgb(255 255 255 / 45%);
	}
}

#tagline {
	background-color: var(--main-red-shade-2);
	color: white;
	padding-block: calc(var(--padding-section) / 2);
	font-size: 1.2rem;
	font-size: clamp(1rem, 3vw, 1.5rem);
	text-align: center;
	font-weight: 700;
}

#meet-mark {
	padding: var(--padding-section) var(--padding-std);

	#mark-at-market {
		float: right;
		margin-block: var(--float-image-margin-y);
		margin-left: var(--float-image-margin-x);
		width: 37.3333vw;
		max-width: 280px;
		height: auto;
		border-radius: var(--media-radius);

		@media only screen and (min-width: 50em) {
			width: 384px;
			max-width: none;
		}
	}

	.family-image {
		float: left;
		margin-top: var(--float-image-margin-y);
		margin-right: var(--float-image-margin-x);
		width: 53.33vw;
		height: auto;
		max-width: 280px;
		margin-left: calc(0px - var(--padding-std));
		shape-outside: polygon(0% 0%, 48% 0%, 49.3% 17.6%, 51.1% 18.6%, 51% 24%, 48% 27.3%, 67.9% 27.3%, 75.1% 29.9%, 78% 35.7%, 80.8% 49.7%, 84.4% 57.2%, 94.8% 65.7%, 100% 71.1%, 100% 84.4%, 88.5% 84.4%, 88.5% 100%, 0% 100%);
		shape-margin: calc(var(--float-image-margin-x) - var(--padding-std)); /* Negative margin-left is not accounted for by the browser */

		@media only screen and (min-width: 28em) {
			margin-left: 0;
			shape-outside: polygon(0% 0%, 52.4% 0%, 53.6% 17.6%, 55.2% 18.6%, 55.1% 24%, 52.4% 27.3%, 70.2% 27.3%, 76.6% 29.9%, 79.2% 35.7%, 81.7% 49.7%, 84.9% 57.2%, 94.2% 65.7%, 98.9% 71.1%, 98.9% 84.4%, 88.6% 84.4%, 88.6% 100%, 0% 100%);
			shape-margin: var(--float-image-margin-x);
		}
	}
	
	#family-image-2, #family-image-3 {
		display: none;
	}

	@media only screen and (min-width: 28em) {
		#family-image-1 { display: none; }
		#family-image-2 { display: inline; }
	}
	@media only screen and (min-width: 46em) {
		#family-image-2 { display: none; }
		#family-image-3 { display: inline; }
	}

	#meet-clearfix {
		margin-bottom: calc(0px - var(--padding-section));
	}
}

#get-involved {
	background: var(--main-grey);
	color: white;
	padding: var(--padding-section) var(--padding-std);

	form button[type="submit"] {
		margin-top: var(--padding-std);
	}
}

.prose-and-form {
	display: flex;
	gap: calc(var(--padding-std) * 2);
	flex-direction: column;

	@media only screen and (min-width: 35em) {
		flex-direction: row;
		justify-content: center;
		align-items: start;

		.prose {
			flex-basis: 12em;
			max-width: 20em;
			flex-grow: 1;
			flex-shrink: 1;
		}
		form {
			flex-basis: 16em;
			max-width: 24em;
			flex-grow: 2;
			flex-shrink: 1;
		}
	}
}

#request-a-sign {
	padding: var(--padding-section) var(--padding-std);
	background: var(--main-red-shade-3);
	color: white;

	form button[type="submit"] {
		margin-top: var(--padding-std);
	}
}

#donate {
	padding: var(--padding-section) var(--padding-std);
}

#footer {
	background: var(--main-red);
	color: white;
	padding-bottom: calc(var(--padding-std) * 8);

	.content {
		padding: calc(var(--padding-std) * 4) var(--padding-std);
		display: grid;
		grid-template-areas: "contact" "fineprint";
		gap: calc(var(--padding-std) * 2);
		text-align: center;
	}

	#contact {
		grid-area: contact;

		dl {
			margin-inline: auto;
			width: fit-content;
		}
	}

	#fineprint {
		margin-top: var(--padding-std);
		grid-area: fineprint;
		text-align: center;
		font-size: 0.8rem;
		font-weight: 700;
	}
}

.socials {
	display: flex;
	justify-content: center;
	gap: calc(var(--padding-std) * 2);

	a {
		display: inline-block;
		border-radius: 200px;
		overflow: hidden;
	}

	svg {
		display: block;
		width: 32px;
		height: 32px;
		fill: currentColor
	}
}

@media print {
	*,
	*::before,
	*::after {
		background: white !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
